.header{
    color: brown;
    font-size: 50px ;
    text-decoration: underline;
    text-align: center;
    margin-top: 50px;
}

.form_field{
    color: blue;
    font-size: 30px;
    width: 50vw;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 20vw;
   
}

.text_field,.rate_field,.dept_field{
    width: 25vw;
    height: 5vh;
}

.submit_btn{
    width: 25vw;
    height: 5vh;
    background-color: mediumseagreen;
    position: relative;
    left: 40vw;
    transition: background-color 0.5s;
}

.submit_btn:hover{
    background-color: aqua;
    cursor: pointer;
}

.item__data{

    color: rebeccapurple;
    border: 2px solid gray;
    font-size: 30px;
    width: 50vw;
    margin: 50px;
    position: relative;
    left: 20vw;

}